<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-dao.xml"></import>

    <bean id="userMapper" class="com.fullstackboy.springdemo.transaction.dao.UserMapperImpl">
        <property name="sqlSession" ref="sqlSession"></property>
    </bean>

    <bean id="userMapper2" class="com.fullstackboy.springdemo.transaction.dao.User2MapperImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>

    <bean id="userMapper3" class="com.fullstackboy.springdemo.transaction.dao.User3MapperImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
</beans>